


 .formControl  {
   border:  1px red solid;
   
}

.spanError   {
    color: red;
 }

 .error {
   color: red;
   font-size: 20px;
 }

 .checkbox{
  color: #e0e2e5;
  display: inline;
 }

 .captcha{
  margin: 10px 0;
 }