

.selectedPage{
    font-weight: bold;
    background-color: #b42da8;;
    
}

.paginator span{
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #b42da8;
    padding:2px;
    
}

.paginator{
    margin: 10px;
}