.photo{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.selectedPage{
    font-weight: bold;
    
}
.pageNumbers span{
    font-size: 30px;
    cursor: pointer;
    
}

.buttons{
    cursor: pointer;
}
