.diologs{
    background-color: #222222;
    border-radius: 30px;
    margin-bottom: 10px;
}

.dialogsItem{
    margin: 20px;
    display: inline-block;
}

.dialog a{
    color: rgba(252, 252, 252, 0.911);
    text-decoration: none;
}

.message{
    margin: 20px;
    display: inline;
}